.div {
    margin-top: 5%;
    margin-bottom: 5%;    
}
  
.divNoticias {
  max-height: 80%;
  background-color: gray;
  overflow-y: auto;
  max-height: 135vh;
}

.titleNews {
  margin-right: 4%;
  margin-left: 4%;
  margin-top: 4%;
  color: white;
}
  